aws/dist/_awscrt.cpython-311-x86_64-linux-gnu.so
aws/dist/_cffi_backend.cpython-311-x86_64-linux-gnu.so
aws/dist/_ruamel_yaml.cpython-311-x86_64-linux-gnu.so
aws/dist/aws
aws/dist/aws_completer
aws/dist/base_library.zip
aws/dist/libpython3.11.so.1.0
aws/dist/libsqlite3.so.0
aws/dist/awscli/botocore/data/endpoints.json
aws/dist/awscli/botocore/data/partitions.json
aws/dist/awscli/botocore/data/account/2021-02-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/account/2021-02-01/paginators-1.json
aws/dist/awscli/botocore/data/acm-pca/2017-08-22/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/acm-pca/2017-08-22/service-2.json
aws/dist/awscli/botocore/data/alexaforbusiness/2017-11-09/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/alexaforbusiness/2017-11-09/service-2.json
aws/dist/awscli/botocore/data/amplifyuibuilder/2021-08-11/paginators-1.json
aws/dist/awscli/botocore/data/amplifyuibuilder/2021-08-11/service-2.json
aws/dist/awscli/botocore/data/appflow/2020-08-23/service-2.json
aws/dist/awscli/botocore/data/application-autoscaling/2016-02-06/service-2.json
aws/dist/awscli/botocore/data/appsync/2017-07-25/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/appsync/2017-07-25/service-2.json
aws/dist/awscli/botocore/data/athena/2017-05-18/service-2.json
aws/dist/awscli/botocore/data/auditmanager/2017-07-25/service-2.json
aws/dist/awscli/botocore/data/backup/2018-11-15/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/backup/2018-11-15/service-2.json
aws/dist/awscli/botocore/data/chime/2018-05-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/chime/2018-05-01/service-2.json
aws/dist/awscli/botocore/data/chime-sdk-identity/2021-04-20/service-2.json
aws/dist/awscli/botocore/data/chime-sdk-media-pipelines/2021-07-15/service-2.json
aws/dist/awscli/botocore/data/chime-sdk-meetings/2021-07-15/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/chime-sdk-meetings/2021-07-15/service-2.json
aws/dist/awscli/botocore/data/chime-sdk-messaging/2021-05-15/service-2.json
aws/dist/awscli/botocore/data/chime-sdk-voice/2022-08-03/service-2.json
aws/dist/awscli/botocore/data/cloudformation/2010-05-15/paginators-1.json
aws/dist/awscli/botocore/data/cloudformation/2010-05-15/service-2.json
aws/dist/awscli/botocore/data/cloudtrail/2013-11-01/service-2.json
aws/dist/awscli/botocore/data/cloudwatch/2010-08-01/service-2.json
aws/dist/awscli/botocore/data/codecatalyst/2022-09-28/paginators-1.json
aws/dist/awscli/botocore/data/codecatalyst/2022-09-28/service-2.json
aws/dist/awscli/botocore/data/codeguru-security/2018-05-10/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/codeguru-security/2018-05-10/paginators-1.json
aws/dist/awscli/botocore/data/codeguru-security/2018-05-10/service-2.json
aws/dist/awscli/botocore/data/codepipeline/2015-07-09/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/codepipeline/2015-07-09/service-2.json
aws/dist/awscli/botocore/data/comprehend/2017-11-27/service-2.json
aws/dist/awscli/botocore/data/comprehendmedical/2018-10-30/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/comprehendmedical/2018-10-30/service-2.json
aws/dist/awscli/botocore/data/compute-optimizer/2019-11-01/service-2.json
aws/dist/awscli/botocore/data/config/2014-11-12/service-2.json
aws/dist/awscli/botocore/data/connect/2017-08-08/paginators-1.json
aws/dist/awscli/botocore/data/connect/2017-08-08/service-2.json
aws/dist/awscli/botocore/data/connectcases/2022-10-03/service-2.json
aws/dist/awscli/botocore/data/cur/2017-01-06/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/cur/2017-01-06/service-2.json
aws/dist/awscli/botocore/data/customer-profiles/2020-08-15/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/customer-profiles/2020-08-15/paginators-1.json
aws/dist/awscli/botocore/data/customer-profiles/2020-08-15/service-2.json
aws/dist/awscli/botocore/data/datasync/2018-11-09/paginators-1.json
aws/dist/awscli/botocore/data/datasync/2018-11-09/service-2.json
aws/dist/awscli/botocore/data/detective/2018-10-26/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/detective/2018-10-26/service-2.json
aws/dist/awscli/botocore/data/directconnect/2012-10-25/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/directconnect/2012-10-25/service-2.json
aws/dist/awscli/botocore/data/discovery/2015-11-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/discovery/2015-11-01/service-2.json
aws/dist/awscli/botocore/data/drs/2020-02-26/paginators-1.json
aws/dist/awscli/botocore/data/drs/2020-02-26/service-2.json
aws/dist/awscli/botocore/data/ds/2015-04-16/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/ds/2015-04-16/service-2.json
aws/dist/awscli/botocore/data/dynamodb/2012-08-10/service-2.json
aws/dist/awscli/botocore/data/dynamodbstreams/2012-08-10/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/dynamodbstreams/2012-08-10/service-2.json
aws/dist/awscli/botocore/data/ec2/2016-11-15/paginators-1.json
aws/dist/awscli/botocore/data/ec2/2016-11-15/paginators-1.sdk-extras.json
aws/dist/awscli/botocore/data/ec2/2016-11-15/service-2.json
aws/dist/awscli/botocore/data/ecs/2014-11-13/service-2.json
aws/dist/awscli/botocore/data/efs/2015-02-01/service-2.json
aws/dist/awscli/botocore/data/elasticache/2015-02-02/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/elasticache/2015-02-02/service-2.json
aws/dist/awscli/botocore/data/emr/2009-03-31/service-2.json
aws/dist/awscli/botocore/data/emr-containers/2020-10-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/emr-containers/2020-10-01/service-2.json
aws/dist/awscli/botocore/data/es/2015-01-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/es/2015-01-01/service-2.json
aws/dist/awscli/botocore/data/finspace/2021-03-12/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/finspace/2021-03-12/paginators-1.json
aws/dist/awscli/botocore/data/finspace/2021-03-12/service-2.json
aws/dist/awscli/botocore/data/fms/2018-01-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/fms/2018-01-01/paginators-1.json
aws/dist/awscli/botocore/data/fms/2018-01-01/service-2.json
aws/dist/awscli/botocore/data/frauddetector/2019-11-15/service-2.json
aws/dist/awscli/botocore/data/fsx/2018-03-01/service-2.json
aws/dist/awscli/botocore/data/gamelift/2015-10-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/gamelift/2015-10-01/service-2.json
aws/dist/awscli/botocore/data/glue/2017-03-31/service-2.json
aws/dist/awscli/botocore/data/grafana/2020-08-18/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/grafana/2020-08-18/service-2.json
aws/dist/awscli/botocore/data/groundstation/2019-05-23/service-2.json
aws/dist/awscli/botocore/data/guardduty/2017-11-28/service-2.json
aws/dist/awscli/botocore/data/health/2016-08-04/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/health/2016-08-04/service-2.json
aws/dist/awscli/botocore/data/healthlake/2017-07-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/healthlake/2017-07-01/service-2.json
aws/dist/awscli/botocore/data/iam/2010-05-08/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/iam/2010-05-08/service-2.json
aws/dist/awscli/botocore/data/imagebuilder/2019-12-02/service-2.json
aws/dist/awscli/botocore/data/inspector2/2020-06-08/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/inspector2/2020-06-08/paginators-1.json
aws/dist/awscli/botocore/data/inspector2/2020-06-08/service-2.json
aws/dist/awscli/botocore/data/iot/2015-05-28/paginators-1.json
aws/dist/awscli/botocore/data/iot/2015-05-28/service-2.json
aws/dist/awscli/botocore/data/iot-data/2015-05-28/service-2.json
aws/dist/awscli/botocore/data/iotdeviceadvisor/2020-09-18/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/iotdeviceadvisor/2020-09-18/service-2.json
aws/dist/awscli/botocore/data/iotfleetwise/2021-06-17/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/iotfleetwise/2021-06-17/service-2.json
aws/dist/awscli/botocore/data/iotsitewise/2019-12-02/service-2.json
aws/dist/awscli/botocore/data/iottwinmaker/2021-11-29/service-2.json
aws/dist/awscli/botocore/data/iotwireless/2020-11-22/service-2.json
aws/dist/awscli/botocore/data/ivs/2020-07-14/service-2.json
aws/dist/awscli/botocore/data/ivs-realtime/2020-07-14/service-2.json
aws/dist/awscli/botocore/data/kafka/2018-11-14/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/kafka/2018-11-14/paginators-1.json
aws/dist/awscli/botocore/data/kafka/2018-11-14/service-2.json
aws/dist/awscli/botocore/data/kendra/2019-02-03/service-2.json
aws/dist/awscli/botocore/data/keyspaces/2022-02-10/service-2.json
aws/dist/awscli/botocore/data/kms/2014-11-01/service-2.json
aws/dist/awscli/botocore/data/lambda/2015-03-31/service-2.json
aws/dist/awscli/botocore/data/lexv2-models/2020-08-07/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/lexv2-models/2020-08-07/service-2.json
aws/dist/awscli/botocore/data/lightsail/2016-11-28/service-2.json
aws/dist/awscli/botocore/data/location/2020-11-19/service-2.json
aws/dist/awscli/botocore/data/logs/2014-03-28/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/logs/2014-03-28/service-2.json
aws/dist/awscli/botocore/data/m2/2021-04-28/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/m2/2021-04-28/service-2.json
aws/dist/awscli/botocore/data/marketplace-catalog/2018-09-17/paginators-1.json
aws/dist/awscli/botocore/data/mediaconvert/2017-08-29/service-2.json
aws/dist/awscli/botocore/data/mediapackagev2/2022-12-25/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/mediapackagev2/2022-12-25/paginators-1.json
aws/dist/awscli/botocore/data/mediapackagev2/2022-12-25/service-2.json
aws/dist/awscli/botocore/data/mediapackagev2/2022-12-25/waiters-2.json
aws/dist/awscli/botocore/data/mediatailor/2018-04-23/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/mediatailor/2018-04-23/service-2.json
aws/dist/awscli/botocore/data/memorydb/2021-01-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/memorydb/2021-01-01/service-2.json
aws/dist/awscli/botocore/data/migration-hub-refactor-spaces/2021-10-26/service-2.json
aws/dist/awscli/botocore/data/mq/2017-11-27/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/mq/2017-11-27/service-2.json
aws/dist/awscli/botocore/data/mwaa/2020-07-01/service-2.json
aws/dist/awscli/botocore/data/network-firewall/2020-11-12/service-2.json
aws/dist/awscli/botocore/data/omics/2022-11-28/paginators-1.json
aws/dist/awscli/botocore/data/omics/2022-11-28/service-2.json
aws/dist/awscli/botocore/data/opensearch/2021-01-01/service-2.json
aws/dist/awscli/botocore/data/osis/2022-01-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/osis/2022-01-01/paginators-1.json
aws/dist/awscli/botocore/data/osis/2022-01-01/service-2.json
aws/dist/awscli/botocore/data/payment-cryptography/2021-09-14/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/payment-cryptography/2021-09-14/paginators-1.json
aws/dist/awscli/botocore/data/payment-cryptography/2021-09-14/service-2.json
aws/dist/awscli/botocore/data/payment-cryptography-data/2022-02-03/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/payment-cryptography-data/2022-02-03/paginators-1.json
aws/dist/awscli/botocore/data/payment-cryptography-data/2022-02-03/service-2.json
aws/dist/awscli/botocore/data/personalize/2018-05-22/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/personalize/2018-05-22/service-2.json
aws/dist/awscli/botocore/data/pinpoint/2016-12-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/pinpoint/2016-12-01/service-2.json
aws/dist/awscli/botocore/data/polly/2016-06-10/service-2.json
aws/dist/awscli/botocore/data/pricing/2017-10-15/service-2.json
aws/dist/awscli/botocore/data/pricing/2017-10-15/waiters-2.json
aws/dist/awscli/botocore/data/qldb/2019-01-02/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/qldb/2019-01-02/service-2.json
aws/dist/awscli/botocore/data/quicksight/2018-04-01/paginators-1.json
aws/dist/awscli/botocore/data/quicksight/2018-04-01/paginators-1.sdk-extras.json
aws/dist/awscli/botocore/data/quicksight/2018-04-01/service-2.json
aws/dist/awscli/botocore/data/ram/2018-01-04/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/ram/2018-01-04/service-2.json
aws/dist/awscli/botocore/data/rds/2014-10-31/service-2.json
aws/dist/awscli/botocore/data/redshift/2012-12-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/redshift/2012-12-01/paginators-1.json
aws/dist/awscli/botocore/data/redshift/2012-12-01/service-2.json
aws/dist/awscli/botocore/data/rekognition/2016-06-27/paginators-1.json
aws/dist/awscli/botocore/data/rekognition/2016-06-27/service-2.json
aws/dist/awscli/botocore/data/resiliencehub/2020-04-30/service-2.json
aws/dist/awscli/botocore/data/rolesanywhere/2018-05-10/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/rolesanywhere/2018-05-10/service-2.json
aws/dist/awscli/botocore/data/route53domains/2014-05-15/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/route53domains/2014-05-15/service-2.json
aws/dist/awscli/botocore/data/route53resolver/2018-04-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/s3/2006-03-01/paginators-1.json
aws/dist/awscli/botocore/data/s3/2006-03-01/paginators-1.sdk-extras.json
aws/dist/awscli/botocore/data/s3/2006-03-01/service-2.json
aws/dist/awscli/botocore/data/s3control/2018-08-20/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/sagemaker/2017-07-24/service-2.json
aws/dist/awscli/botocore/data/sagemaker-geospatial/2020-05-27/service-2.json
aws/dist/awscli/botocore/data/secretsmanager/2017-10-17/service-2.json
aws/dist/awscli/botocore/data/securityhub/2018-10-26/paginators-1.json
aws/dist/awscli/botocore/data/securityhub/2018-10-26/service-2.json
aws/dist/awscli/botocore/data/securitylake/2018-05-10/paginators-1.json
aws/dist/awscli/botocore/data/securitylake/2018-05-10/paginators-1.sdk-extras.json
aws/dist/awscli/botocore/data/securitylake/2018-05-10/service-2.json
aws/dist/awscli/botocore/data/servicecatalog/2015-12-10/service-2.json
aws/dist/awscli/botocore/data/sesv2/2019-09-27/service-2.json
aws/dist/awscli/botocore/data/signer/2017-08-25/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/signer/2017-08-25/service-2.json
aws/dist/awscli/botocore/data/simspaceweaver/2022-10-28/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/simspaceweaver/2022-10-28/service-2.json
aws/dist/awscli/botocore/data/snowball/2016-06-30/service-2.json
aws/dist/awscli/botocore/data/sqs/2012-11-05/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/sqs/2012-11-05/service-2.json
aws/dist/awscli/botocore/data/stepfunctions/2016-11-23/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/stepfunctions/2016-11-23/service-2.json
aws/dist/awscli/botocore/data/sts/2011-06-15/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/sts/2011-06-15/service-2.json
aws/dist/awscli/botocore/data/support/2013-04-15/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/support/2013-04-15/service-2.json
aws/dist/awscli/botocore/data/swf/2012-01-25/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/swf/2012-01-25/service-2.json
aws/dist/awscli/botocore/data/timestream-write/2018-11-01/service-2.json
aws/dist/awscli/botocore/data/transfer/2018-11-05/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/transfer/2018-11-05/service-2.json
aws/dist/awscli/botocore/data/translate/2017-07-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/translate/2017-07-01/service-2.json
aws/dist/awscli/botocore/data/verifiedpermissions/2021-12-01/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/verifiedpermissions/2021-12-01/paginators-1.json
aws/dist/awscli/botocore/data/verifiedpermissions/2021-12-01/service-2.json
aws/dist/awscli/botocore/data/verifiedpermissions/2021-12-01/waiters-2.json
aws/dist/awscli/botocore/data/wafv2/2019-07-29/service-2.json
aws/dist/awscli/botocore/data/wellarchitected/2020-03-31/service-2.json
aws/dist/awscli/botocore/data/workspaces/2015-04-08/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/workspaces/2015-04-08/service-2.json
aws/dist/awscli/botocore/data/workspaces-web/2020-07-08/endpoint-rule-set-1.json
aws/dist/awscli/botocore/data/workspaces-web/2020-07-08/service-2.json
aws/dist/awscli/botocore/data/xray/2016-04-12/endpoint-rule-set-1.json
aws/dist/awscli/data/ac.index
aws/dist/awscli/examples/apigateway/update-method.rst
aws/dist/awscli/examples/ec2/modify-security-group-rules.rst
aws/dist/awscli/examples/iam/get-policy-version.rst
aws/dist/awscli/examples/s3/_concepts.rst
aws/dist/awscli/examples/s3api/delete-bucket-intelligent-tiering-configuration.rst
aws/dist/awscli/examples/s3api/get-bucket-intelligent-tiering-configuration.rst
aws/dist/awscli/examples/s3api/list-bucket-intelligent-tiering-configurations.rst
aws/dist/awscli/examples/s3api/put-bucket-intelligent-tiering-configuration.rst
aws/dist/lib-dynload/_asyncio.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_bisect.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_blake2.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_bz2.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_codecs_cn.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_codecs_hk.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_codecs_iso2022.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_codecs_jp.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_codecs_kr.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_codecs_tw.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_contextvars.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_csv.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_ctypes.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_datetime.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_decimal.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_elementtree.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_hashlib.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_heapq.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_json.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_lzma.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_md5.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_multibytecodec.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_multiprocessing.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_opcode.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_pickle.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_posixshmem.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_posixsubprocess.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_queue.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_random.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_sha1.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_sha3.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_sha256.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_sha512.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_socket.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_sqlite3.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_ssl.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_statistics.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_struct.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/_typing.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/array.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/binascii.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/fcntl.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/grp.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/math.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/mmap.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/pyexpat.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/resource.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/select.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/termios.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/unicodedata.cpython-311-x86_64-linux-gnu.so
aws/dist/lib-dynload/zlib.cpython-311-x86_64-linux-gnu.so
